seminar2/sourcecode/node_modules/
seminar2/sourcecode/package-lock.json
seminar2/csvManagerTest/project/node_modules
seminar2/csvManagerTest/project/public
seminar2/csvManagerTest/project/package-lock.json
